
https://github.com/Shaik-Suhail/Finance-Manager-App/blob/2487d726cf54b6da6004ec065e668d0a6db02d18/venv
[venv](https://github.com/Shaik-Suhail/Finance-Manager-App/blob/2487d726cf54b6da6004ec065e668d0a6db02d18/__pycache__)
